.resume-container {
    width: 100%;
    margin: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: transparent;
}


.download-btn {
    display: inline-block;
    align-self: center;
    margin:20px 0;
    padding: 10px 30px;

    color: rgba(255, 255, 255, 0.851);
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 15px;

    box-shadow:
        0 8px 30px rgba(0, 0, 0, 0.18),
        inset 0 1px 0 rgba(255, 255, 255, 0.16);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    transition: 0.3s ease;
}

.download-btn:hover {
    background: rgba(255, 255, 255, 0.12);
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .resume-container {
        width: 100%;
        padding: 100px 15px 20px;
    }
    .download-btn {
        font-size: 18px;
        padding: 9px 20px;
    }
}