body{
    margin: 20px;
}
.content {
    display: flex;
    flex-direction: row;      /* Optional, row is the default */
    align-items: center;      /* Vertically aligns the content */
    justify-content: center;
    gap: 20px;
    padding: 40px 80px;
    color: rgba(255, 255, 255, 0.642);
    margin-top: 30px;
}

.matter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin-right: 200px;
    width: 700px;
    min-height: 380px;
    background: rgba(255, 255, 255, 0.049);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.039);
    box-shadow: 0 8px 30px  rgba(0, 0, 0, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.16);
    border-radius: 28px;
    border-width: 5px 15px 15px 5px;
}

.matter h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.matter h1{
    font-size: 2.5rem;
    margin-bottom: 12px;
}

.matter p{
    font-size: 1.3rem;
    line-height: 1.7;
}
.image img {
    width: 400px;
    border-radius: 10%;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-buttons h3 {
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-bottom: 50px;
}
.cta-buttons h3::before,
.cta-buttons h3::after{
    content: "";
    width: 550px;
    background: rgba(255, 255, 255, 0.807);
    height: 0.5px;
}
.social-links h3::before,
.social-links h3::after {
    content: "";
    width: 555px;
    height: 1px;
    background: rgba(255, 255, 255, 0.807);
}

.nav-buttons a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.851);
    text-decoration: none;
    font-size: 23px;
    margin: 8px 70px;
    padding: 10px 30px;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 15px;

    box-shadow:
        0 8px 30px rgba(0, 0, 0, 0.18),
        inset 0 1px 0 rgba(255, 255, 255, 0.16);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    transition: 0.3s ease;
}

.nav-buttons a:hover {
    background: rgba(255, 255, 255, 0.12);
    transform: translateY(-2px);
}

.cta-buttons,
.social-links {
    text-align: center;
}