.projects{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    width: 90%;
    margin: 40px auto;
    color: rgba(255, 255, 255, 0.723);
}

.project{
    display: flex;
    flex-direction: column;
    padding:20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.049);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.039);
    box-shadow: 0 8px 30px  rgba(0, 0, 0, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.16);
    border-radius: 28px;
    border-width: 5px 15px 15px 5px;
}

.project-img{
    width: 75px;
    border-radius: 50%;
}

.project-name{
    font-size: 35px;
    font-weight: 1000;
    color: #02fbf3d7;
    -webkit-text-stroke: 0.2px white;
}

.project-description{
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1px;   
    word-spacing: 3px;
}

.project-link{
    text-decoration:none;
    color: rgba(255, 255, 255, 0.961);
    font-size: 23px;
    font-weight: 600;
    margin: 8px 70px;
    margin-top: auto;
    padding: 15px 30px;
    text-align: center;

    background: #028383df;
    border: 1px solid rgba(176, 249, 232, 0.04);
    border-radius: 15px;

    box-shadow:
        0 8px 30px rgba(0, 0, 0, 0.18),
        inset 0 1px 0 rgba(255, 255, 255, 0.16);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    transition: 0.3s ease;
}

.project-link:hover{
    background: #028383ef;
    transform: translateY(-2px);
}